In [56]:
from os.path import exists
import pandas as pd

In [57]:
outpath = "/oak/stanford/groups/horence/JuliaO/visium_analysis/notebooks/output/discussed_genes_table/"
samples = pd.read_csv("/oak/stanford/groups/horence/JuliaO/visium_analysis/notebooks/output/make_samplesheet/spatial.csv",index_col = 0)
scores = pd.read_csv("output/make_samplesheet/scores.csv",index_col=0)

In [58]:
pval_col = "perm_pvals_emp_adj"
out = {"dataname" : [], "score" : [], "gene" : [], pval_col : [], "xth_sig" : []}#, "sig_by_ge" : []}

name_dict = {"chr11_10983_plus" : "Gpx3", "chr17_16275_minus" : "Slc8a1", "chr8_11013_plus" : "Gpm6a", "chr5_28581_minus" : "Actb", "chr4_23431_minus" : "Rps8", "chr1_30673_plus" : "S100a9"}

genes = ["Myl6", "Rps24", "Gng13","chr11_10983_plus", "chr17_16275_minus", "chr8_11013_plus", "chr5_28581_minus", "chr4_23431_minus", "chr1_30673_plus"]

for gene in genes:
  if gene not in name_dict.keys():
    name_dict[gene] = gene

eff_size = 0
pval = 0.05



for dataname, row in samples[samples["method"] == "visium"].iterrows():
  for score, srow in scores.iterrows():
    if exists(row[srow["ising"]]):

      df = pd.read_csv(row[srow["ising"]],sep="\t")
#       df = df.sort_values("score_cont",ascending=False)
      df = df.sort_values([pval_col, "score_cont"], ascending = [True, False])
      df = df.reset_index(drop=True)
      display(df.head())
      print(dataname)
      if pval_col in df.columns:
        for gene in genes:
          if gene in df[srow["genecol"]].unique():
            gene_df = df[df[srow["genecol"]] == gene]
            out["dataname"].append(dataname)
            out["score"].append(score)
            out["gene"].append(name_dict[gene])
            out[pval_col].append(gene_df[pval_col].iloc[0])
            out["xth_sig"].append(gene_df.index[0] + 1)
#             out[]
#         out["num_genes"].append(df[srow["genecol"]].nunique())
#         out["num_sig"].append(df[(df[pval_col] < pval) & (df["score_cont"] > eff_size)][srow["genecol"]].nunique())
#         df["inv_pval"] = 1 - df[pval_col]
#         top = list(df[(df[pval_col] < pval) & (df["score_cont"] > eff_size)].sort_values(["inv_pval","score_cont"],ascending=False)[srow["genecol"]].head(10))
#         out["top"].append(", ".join(top))
outdf = pd.DataFrame.from_dict(out)
outdf["sig"] = False
outdf.loc[outdf[pval_col] < pval, "sig"] = True
outdf["gene_dataset"] = outdf["gene"] + "_" + outdf["dataname"]

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Mybpc1,1.379535,44,0.0,0.0,0.085974,0.0,0.0
1,Cdv3,1.129671,19,0.0,0.0,0.030923,0.0,0.0
2,"Prxl2b,Gm52690",0.696802,62,0.0,0.0,0.008177,0.0,0.0
3,Gng13,0.680867,5906,0.0,0.0,-0.357396,0.0,0.0
4,Tmem238,0.569276,324,0.0,0.0,0.082950,0.0,0.0

V1_Mouse_Brain_Sagittal_Posterior

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Gng13,0.452154,5906,0.0,0.000,4.619538e-17,0.00000,0.0
1,Myl6,0.397708,9008,0.0,0.000,-8.890119e-18,0.00000,0.0
2,Rps24,0.334594,9672,0.0,0.000,8.542744e-18,0.00000,0.0
3,Pdap1,0.200884,228,0.0,0.002,7.757017e-18,0.07096,0.0
4,Stx4a,0.130250,1408,0.0,0.000,0.000000e+00,0.00000,0.0

V1_Mouse_Brain_Sagittal_Posterior

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Adarb1,1.071565,35,0.0,0.0,-1.117206e-17,0.0,0.0
1,Fth1,0.973832,318,0.0,0.0,-1.941374e-17,0.0,0.0
2,Camk2n1,0.896887,1081,0.0,0.0,-1.769720e-17,0.0,0.0
3,Washc2,0.858319,548,0.0,0.0,0.000000e+00,0.0,0.0
4,Cd81,0.856222,86,0.0,0.0,-4.724353e-18,0.0,0.0

V1_Mouse_Brain_Sagittal_Posterior

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Myl6,0.395914,9008,0.0,0.0,0.000000e+00,0.0,0.0
1,Rps24,0.304650,9672,0.0,0.0,2.135686e-18,0.0,0.0
2,Gng13,0.223351,5906,0.0,0.0,0.000000e+00,0.0,0.0
3,Ptgds,0.126182,9651,0.0,0.0,6.410912e-18,0.0,0.0
4,Rpl27a,0.107447,9553,0.0,0.0,-1.720963e-17,0.0,0.0

V1_Mouse_Brain_Sagittal_Posterior

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr8_11013_plus,0.377033,8141,0.0,0.0,3.553898e-18,0.0,0.0
1,chr17_16275_minus,0.252566,2624,0.0,0.0,9.505588e-18,0.0,0.0
2,chr3_23206_plus,0.217639,2942,0.0,0.0,-1.678778e-17,0.0,0.0
3,chr1_32888_minus,0.216138,9058,0.0,0.0,-1.553341e-17,0.0,0.0
4,chr12_14443_minus,0.209141,8558,0.0,0.0,8.617514e-18,0.0,0.0

V1_Mouse_Brain_Sagittal_Posterior

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr7_25259_plus,0.893211,2744,0.0,0.0,2.459219e-17,0.0,0.0
1,chr18_16518_plus,0.842227,9740,0.0,0.0,-9.567452e-18,0.0,0.0
2,chr19_1997_plus,0.826811,9758,0.0,0.0,2.336613e-17,0.0,0.0
3,chr11_23050_minus,0.822330,3263,0.0,0.0,0.000000e+00,0.0,0.0
4,chr18_4135_plus,0.816171,6010,0.0,0.0,-1.125167e-17,0.0,0.0

V1_Mouse_Brain_Sagittal_Posterior

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Kcna6,0.883815,65,0.0,0.000,0.004177,0.000000,0.0
1,Hikeshi,0.658060,62,0.0,0.008,-0.007527,0.150836,0.0
2,Gng13,0.624755,5164,0.0,0.000,-0.315034,0.000000,0.0
3,Tpm2,0.411229,161,0.0,0.000,0.113758,0.000000,0.0
4,Aifm3,0.373382,197,0.0,0.000,-0.123559,0.000000,0.0

V1_Mouse_Brain_Sagittal_Posterior_Section_2

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr8_852_minus,0.714436,4975,0.0,0.0,0.554117,0.0,0.0
1,chr17_16275_minus,0.264388,2724,0.0,0.0,-0.155849,0.0,0.0
2,chr3_23206_plus,0.247122,2647,0.0,0.0,0.044410,0.0,0.0
3,chr8_11013_plus,0.194353,7983,0.0,0.0,0.257667,0.0,0.0
4,chr8_18965_minus,0.181767,1419,0.0,0.0,0.025476,0.0,0.0

V1_Mouse_Brain_Sagittal_Posterior_Section_2

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Kcna6,0.703706,65,0.0,0.0,0.000000e+00,0.0,0.0
1,Gng13,0.445102,5164,0.0,0.0,0.000000e+00,0.0,0.0
2,Myl6,0.378073,9095,0.0,0.0,0.000000e+00,0.0,0.0
3,Rps24,0.349856,9587,0.0,0.0,0.000000e+00,0.0,0.0
4,Stx4a,0.158401,1334,0.0,0.0,2.443827e-17,0.0,0.0

V1_Mouse_Brain_Sagittal_Posterior_Section_2

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Rsrc1,1.124718,15,0.0,0.0,-3.640075e-18,0.0,0.0
1,Grb14,0.897460,86,0.0,0.0,-2.140189e-17,0.0,0.0
2,Cst3,0.895860,33,0.0,0.0,5.482583e-18,0.0,0.0
3,Fth1,0.880955,323,0.0,0.0,0.000000e+00,0.0,0.0
4,Washc2,0.855430,325,0.0,0.0,3.538559e-18,0.0,0.0

V1_Mouse_Brain_Sagittal_Posterior_Section_2

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Kcna6,0.510925,65,0.0,0.0,-1.660147e-17,0.0,0.0
1,Myl6,0.378676,9095,0.0,0.0,-1.779137e-17,0.0,0.0
2,Rps24,0.321911,9587,0.0,0.0,2.162992e-18,0.0,0.0
3,Gng13,0.178818,5164,0.0,0.0,0.000000e+00,0.0,0.0
4,Ptgds,0.128009,9545,0.0,0.0,0.000000e+00,0.0,0.0

V1_Mouse_Brain_Sagittal_Posterior_Section_2

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr8_11013_plus,0.401916,7983,0.0,0.0,1.444682e-17,0.0,0.0
1,chr3_23206_plus,0.271431,2647,0.0,0.0,4.491421e-18,0.0,0.0
2,chr17_16275_minus,0.240136,2724,0.0,0.0,-1.168656e-18,0.0,0.0
3,chr8_852_minus,0.229819,4975,0.0,0.0,2.771736e-17,0.0,0.0
4,chr1_32888_minus,0.222740,9000,0.0,0.0,-1.121791e-17,0.0,0.0

V1_Mouse_Brain_Sagittal_Posterior_Section_2

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr7_25259_plus,0.890694,2522,0.0,0.0,1.928203e-17,0.0,0.0
1,chr18_4135_plus,0.877364,6132,0.0,0.0,-2.362916e-17,0.0,0.0
2,chr18_16518_plus,0.835210,9563,0.0,0.0,9.203921e-18,0.0,0.0
3,chr19_1997_plus,0.816432,9605,0.0,0.0,7.563563e-18,0.0,0.0
4,chr8_725_minus,0.807225,3614,0.0,0.0,1.630620e-17,0.0,0.0

V1_Mouse_Brain_Sagittal_Posterior_Section_2

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Rbm25,1.380008,8,0.0,0.031,-0.082091,0.456580,0.0
1,Ppp1r12a,0.913037,14,0.0,0.000,-0.059842,0.000000,0.0
2,Dhx36,0.828874,19,0.0,0.015,0.002770,0.303305,0.0
3,"Gm45929,Borcs8",0.428098,53,0.0,0.015,0.082712,0.303305,0.0
4,Gng13,0.368761,4284,0.0,0.000,-0.002449,0.000000,0.0

V1_Mouse_Brain_Sagittal_Anterior

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Myl6,0.295914,7595,0.0,0.0,-1.072922e-17,0.0,0.0
1,Rps24,0.249225,7798,0.0,0.0,1.056569e-17,0.0,0.0
2,Gng13,0.203497,4284,0.0,0.0,3.038130e-17,0.0,0.0
3,Ttr,0.110755,2298,0.0,0.0,-2.211806e-17,0.0,0.0
4,Ptgds,0.107656,7657,0.0,0.0,1.333101e-17,0.0,0.0

V1_Mouse_Brain_Sagittal_Anterior

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Apoe,1.113560,122,0.0,0.0,1.208406e-17,0.0,0.0
1,Hpca,0.927191,85,0.0,0.0,1.869849e-17,0.0,0.0
2,Ttr,0.906688,2298,0.0,0.0,-4.423612e-17,0.0,0.0
3,Snhg11,0.896995,111,0.0,0.0,0.000000e+00,0.0,0.0
4,Dbi,0.821341,501,0.0,0.0,4.276943e-18,0.0,0.0

V1_Mouse_Brain_Sagittal_Anterior

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Myl6,0.296301,7595,0.0,0.0,-1.072922e-17,0.0,0.0
1,Rps24,0.232364,7798,0.0,0.0,-1.056569e-17,0.0,0.0
2,Gng13,0.192837,4284,0.0,0.0,1.519065e-17,0.0,0.0
3,Nkain4,0.100362,1854,0.0,0.0,0.000000e+00,0.0,0.0
4,Ptgds,0.096261,7657,0.0,0.0,1.333101e-18,0.0,0.0

V1_Mouse_Brain_Sagittal_Anterior

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr3_18123_plus,0.377752,3154,0.0,0.0,2.804774e-17,0.0,0.0
1,chr8_11013_plus,0.299638,7474,0.0,0.0,-2.576395e-17,0.0,0.0
2,chr4_27692_plus,0.257610,7577,0.0,0.0,-4.697581e-18,0.0,0.0
3,chr12_14443_minus,0.241580,7473,0.0,0.0,-1.898397e-17,0.0,0.0
4,chr1_32888_minus,0.214106,7627,0.0,0.0,-1.473599e-17,0.0,0.0

V1_Mouse_Brain_Sagittal_Anterior

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr18_16518_plus,0.824526,7768,0.0,0.0,0.000000e+00,0.0,0.0
1,chr16_19306_plus,0.823249,7487,0.0,0.0,-4.058698e-18,0.0,0.0
2,chr18_4135_plus,0.798156,4521,0.0,0.0,3.287904e-17,0.0,0.0
3,chr17_1798_plus,0.787870,3761,0.0,0.0,1.578516e-18,0.0,0.0
4,chr9_7509_minus,0.787291,7230,0.0,0.0,-1.456599e-17,0.0,0.0

V1_Mouse_Brain_Sagittal_Anterior

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Ocel1,1.253794,25,0.0,0.003,-0.112969,0.115658,0.0
1,Itgb5,0.848038,13,0.0,0.006,0.028210,0.169038,0.0
2,BB218582,0.587032,9,0.0,0.133,0.128319,0.781698,0.0
3,Ints13,0.522984,21,0.0,0.108,0.150880,0.778502,0.0
4,Gng13,0.420135,5522,0.0,0.000,0.007666,0.000000,0.0

V1_Mouse_Brain_Sagittal_Anterior_Section_2

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr3_18123_plus,0.876079,2956,0.0,0.0,0.543110,0.0,0.0
1,chr11_19677_plus,0.119088,1425,0.0,0.0,-0.022325,0.0,0.0
2,chr11_10709_plus,0.109537,1633,0.0,0.0,0.040680,0.0,0.0
3,chr8_18965_minus,0.103804,1031,0.0,0.0,0.011950,0.0,0.0
4,chr8_21188_minus,0.098873,3871,0.0,0.0,-0.014621,0.0,0.0

V1_Mouse_Brain_Sagittal_Anterior_Section_2

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Myl6,0.275772,8053,0.0,0.0,-5.088025e-18,0.0,0.0
1,Gng13,0.251855,5522,0.0,0.0,0.000000e+00,0.0,0.0
2,Rps24,0.233079,8224,0.0,0.0,2.012869e-17,0.0,0.0
3,Ttr,0.109918,3769,0.0,0.0,0.000000e+00,0.0,0.0
4,Ptgds,0.098991,8029,0.0,0.0,-1.719055e-17,0.0,0.0

V1_Mouse_Brain_Sagittal_Anterior_Section_2

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Enpp2,1.656387,48,0.0,0.0,-1.387779e-17,0.0,0.0
1,Lmo3,1.076188,58,0.0,0.0,2.114711e-17,0.0,0.0
2,Hpca,1.029024,84,0.0,0.0,3.517538e-17,0.0,0.0
3,Ttr,0.845450,3769,0.0,0.0,3.197043e-17,0.0,0.0
4,Fth1,0.812212,256,0.0,0.0,-1.531342e-17,0.0,0.0

V1_Mouse_Brain_Sagittal_Anterior_Section_2

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Myl6,0.275346,8053,0.0,0.0,-2.035210e-17,0.0,0.0
1,Rps24,0.225640,8224,0.0,0.0,-1.509652e-17,0.0,0.0
2,Gng13,0.189536,5522,0.0,0.0,5.075305e-17,0.0,0.0
3,Ptgds,0.090311,8029,0.0,0.0,6.366870e-18,0.0,0.0
4,Ttr,0.082288,3769,0.0,0.0,0.000000e+00,0.0,0.0

V1_Mouse_Brain_Sagittal_Anterior_Section_2

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr3_18123_plus,0.393350,2956,0.0,0.0,-6.711676e-18,0.0,0.0
1,chr8_11013_plus,0.267981,7792,0.0,0.0,-1.558777e-17,0.0,0.0
2,chr4_27692_plus,0.213401,7947,0.0,0.0,-7.703752e-18,0.0,0.0
3,chr12_14443_minus,0.186244,7915,0.0,0.0,6.424437e-18,0.0,0.0
4,chr18_4135_plus,0.185036,5121,0.0,0.0,1.308550e-17,0.0,0.0

V1_Mouse_Brain_Sagittal_Anterior_Section_2

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr17_1798_plus,0.840761,3448,0.0,0.0,4.351150e-18,0.0,0.0
1,chr13_2766_plus,0.820319,2525,0.0,0.0,2.177909e-17,0.0,0.0
2,chr18_4135_plus,0.807723,5121,0.0,0.0,1.144981e-17,0.0,0.0
3,chr11_699_minus,0.796815,2307,0.0,0.0,9.912706e-19,0.0,0.0
4,chr19_1997_plus,0.791464,8224,0.0,0.0,2.044320e-17,0.0,0.0

V1_Mouse_Brain_Sagittal_Anterior_Section_2

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Ktn1,0.636947,22,0.0,0.044,-0.241067,0.783957,0.0
1,Adam15,0.419138,42,0.0,0.051,0.057591,0.783957,0.0
2,Gm4890,0.354854,126,0.0,0.006,-0.034197,0.693500,0.0
3,"Gm19710,Ubap2l",0.315112,98,0.0,0.030,0.102567,0.765955,0.0
4,Atp5c1,0.099600,4057,0.0,0.001,-0.063614,0.277400,0.0

V1_Mouse_Kidney

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr11_10983_minus,0.151233,3054,0.0,0.000,0.105357,0.0000,0.0
1,chr9_24693_plus,0.133827,2918,0.0,0.000,-0.019291,0.0000,0.0
2,chr6_26771_minus,0.101237,2863,0.0,0.017,0.250821,0.5364,0.0
3,chr17_7970_plus,0.079383,4090,0.0,0.000,-0.045833,0.0000,0.0
4,chr18_6055_plus,0.073929,1830,0.0,0.000,0.081571,0.0000,0.0

V1_Mouse_Kidney

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Rps24,0.377957,4076,0.0,0.0,0.000000e+00,0.0,0.0
1,Myl6,0.165378,4065,0.0,0.0,1.991711e-17,0.0,0.0
2,Ndufs5,0.142417,3424,0.0,0.0,2.203233e-17,0.0,0.0
3,Cox6a1,0.129016,3878,0.0,0.0,-1.025314e-16,0.0,0.0
4,Ndufs3,0.127106,3313,0.0,0.0,0.000000e+00,0.0,0.0

V1_Mouse_Kidney

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Napsa,0.777335,4004,0.0,0.0,1.204310e-16,0.0,0.0
1,Cfd,0.745398,786,0.0,0.0,5.084385e-17,0.0,0.0
2,Kap,0.720906,4090,0.0,0.0,0.000000e+00,0.0,0.0
3,Fth1,0.673055,1336,0.0,0.0,1.869849e-17,0.0,0.0
4,Cldn10,0.672108,1096,0.0,0.0,2.621929e-17,0.0,0.0

V1_Mouse_Kidney

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Rps24,0.260973,4076,0.0,0.0,0.0,0.0,0.0
1,Myl6,0.161758,4065,0.0,0.0,0.0,0.0,0.0
2,Tpt1,0.109793,4069,0.0,0.0,0.0,0.0,0.0
3,Ndufs3,0.099757,3313,0.0,0.0,0.0,0.0,0.0
4,Psmb3,0.094062,3162,0.0,0.0,0.0,0.0,0.0

V1_Mouse_Kidney

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr7_20766_minus,0.406238,4102,0.0,0.0,9.896138e-18,0.0,0.0
1,chr11_10983_plus,0.358880,4096,0.0,0.0,1.114091e-17,0.0,0.0
2,chr11_6460_plus,0.285951,4090,0.0,0.0,-9.909941e-18,0.0,0.0
3,chr6_26770_minus,0.245594,4090,0.0,0.0,-1.734240e-17,0.0,0.0
4,chr9_9083_plus,0.190118,4090,0.0,0.0,-1.239607e-18,0.0,0.0

V1_Mouse_Kidney

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chrX_32593_minus,0.776471,4078,0.0,0.0,2.977134e-17,0.0,0.0
1,chr7_8918_plus,0.758111,4095,0.0,0.0,0.000000e+00,0.0,0.0
2,chr6_26770_minus,0.713343,4090,0.0,0.0,-1.238743e-17,0.0,0.0
3,chr11_10983_plus,0.704639,4096,0.0,0.0,1.485455e-17,0.0,0.0
4,chr12_20771_minus,0.696827,2660,0.0,0.0,2.226410e-17,0.0,0.0

V1_Mouse_Kidney

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr11_10983_plus,0.332216,4096,0.0,0.0,7.427276e-18,0.0,0.0
1,chr5_28581_minus,0.175018,3779,0.0,0.0,-7.785348e-18,0.0,0.0
2,chr6_26770_minus,0.168188,4090,0.0,0.0,1.238743e-18,0.0,0.0
3,chr19_1997_plus,0.165812,4090,0.0,0.0,-6.202363e-18,0.0,0.0
4,chr14_10848_minus,0.153464,3284,0.0,0.0,1.268826e-17,0.0,0.0

V1_Mouse_Kidney

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,unknown_chr13_57100000,5.763268e-02,13,0.000,0.083,-0.003593,0.3875,0.000
1,FOXK2,9.110267e-03,2302,0.253,0.155,0.027589,0.3875,0.520
2,unknown_chr14_105600000,-3.069101e-07,7003,0.356,0.590,0.009213,0.7530,0.520
3,MUCL1,-2.109062e-04,7045,0.416,0.753,-0.001480,0.7530,0.520
4,unknown_chr14_105700000,-7.713155e-04,6719,0.711,0.662,0.005300,0.7530,0.711

Visium_FFPE_Human_Breast_Cancer

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr6_6373_plus,0.126810,3478,0.0,0.000,-0.164332,0.000000,0.0
1,chr12_11221_minus,0.095308,4975,0.0,0.000,0.112264,0.000000,0.0
2,chr17_1517_minus,0.076616,5857,0.0,0.000,0.103967,0.000000,0.0
3,chr19_7149_plus,0.051517,2213,0.0,0.004,0.021482,0.048308,0.0
4,chr11_9436_plus,0.050652,3407,0.0,0.000,-0.085580,0.000000,0.0

Visium_FFPE_Human_Breast_Cancer

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,FOXK2,0.009249,2302,0.077,0.304,1.629685e-17,0.608,0.154
1,MUCL1,-0.011077,7045,0.895,0.801,2.821854e-18,0.801,0.895

Visium_FFPE_Human_Breast_Cancer

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,MUCL1,0.855641,7045,0.0,0.0,0.0,0.0,0.0
1,FOXK2,0.130748,2302,1.0,0.0,0.0,0.0,1.0

Visium_FFPE_Human_Breast_Cancer

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,FOXK2,0.025224,2302,0.020,0.091,-5.432284e-18,0.182,0.040
1,MUCL1,-0.014455,7045,0.991,0.855,8.465561e-18,0.855,0.991

Visium_FFPE_Human_Breast_Cancer

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr12_11221_minus,0.180821,4975,0.0,0.0,1.206062e-17,0.0,0.0
1,chr6_6373_plus,0.158583,3478,0.0,0.0,1.185675e-17,0.0,0.0
2,chrX_2596_minus,0.127416,7045,0.0,0.0,7.054634e-18,0.0,0.0
3,chr6_5232_minus,0.110370,6412,0.0,0.0,1.344028e-17,0.0,0.0
4,chr22_4580_minus,0.086666,6645,0.0,0.0,0.000000e+00,0.0,0.0

Visium_FFPE_Human_Breast_Cancer

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr6_21395_plus,0.718588,6780,0.0,0.0,-1.729516e-17,0.0,0.0
1,chr22_4581_minus,0.706193,7021,0.0,0.0,-1.697156e-17,0.0,0.0
2,chr22_4585_minus,0.669260,6943,0.0,0.0,2.846726e-18,0.0,0.0
3,chr22_4582_minus,0.657656,6942,0.0,0.0,-2.062224e-17,0.0,0.0
4,chr22_4580_minus,0.636829,6645,0.0,0.0,-1.461421e-18,0.0,0.0

Visium_FFPE_Human_Breast_Cancer

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr12_11221_minus,0.132855,4975,0.0,0.0,6.891782e-18,0.0,0.0
1,chr6_6373_plus,0.130093,3478,0.0,0.0,4.311546e-18,0.0,0.0
2,chrX_2596_minus,0.081067,7045,0.0,0.0,-2.821854e-18,0.0,0.0
3,chr6_5232_minus,0.080353,6412,0.0,0.0,-4.480093e-18,0.0,0.0
4,chr11_9436_plus,0.069015,3407,0.0,0.0,-5.957294e-18,0.0,0.0

Visium_FFPE_Human_Breast_Cancer

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,ARID4B,-0.050164,14,0.000,0.528,-0.007094,0.7392,0.00000
1,PRR3,-0.006542,90,0.131,0.809,-0.072181,0.8090,0.45850
2,SETD3,0.018303,76,0.293,0.429,0.042947,0.7392,0.51275
3,FAM153B,0.002607,262,0.243,0.343,-0.046858,0.7392,0.51275
4,HMGN3,0.001214,16,0.504,0.221,-0.012414,0.7392,0.70560

Visium_FFPE_Human_Normal_Prostate

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr1_29978_plus,0.061217,1681,0.000,0.001,0.022353,0.044500,0.00000
1,chr6_5232_minus,0.037805,4906,0.000,0.000,-0.069736,0.000000,0.00000
2,chr12_11221_minus,0.033869,3332,0.000,0.006,0.050128,0.133500,0.00000
3,chr1_29963_plus,0.029249,3370,0.005,0.018,0.027493,0.241571,0.11125
4,chr9_27370_minus,0.023537,3049,0.009,0.093,-0.042334,0.557733,0.16020

Visium_FFPE_Human_Normal_Prostate

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,SETD3,0.137584,76,0.055,0.092,2.701683e-17,0.184,0.110
1,NDRG2,-0.001452,4086,0.933,0.531,1.315124e-17,0.531,0.933

Visium_FFPE_Human_Normal_Prostate

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,NDRG2,0.081568,4086,0.038,0.000,0.000000e+00,0.000,0.076
1,SETD3,0.066198,76,0.956,0.265,6.754209e-18,0.265,0.956

Visium_FFPE_Human_Normal_Prostate

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,SETD3,0.133597,76,0.062,0.103,-2.701683e-17,0.206,0.124
1,NDRG2,-0.001454,4086,0.932,0.506,-7.514995e-18,0.506,0.932

Visium_FFPE_Human_Normal_Prostate

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr12_11221_minus,0.062690,3332,0.000,0.000,0.000000e+00,0.00,0.000000
1,chr16_4368_plus,0.048718,7059,0.000,0.000,-2.408139e-17,0.00,0.000000
2,chr14_15057_minus,0.044160,7008,0.002,0.000,-2.841035e-18,0.00,0.053333
3,chr16_11327_minus,0.073333,2166,0.003,0.000,8.521269e-18,0.00,0.060000
4,chr15_6959_plus,0.070003,1412,0.006,0.003,-3.510587e-18,0.04,0.096000

Visium_FFPE_Human_Normal_Prostate

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr20_7310_minus,0.563337,7242,0.0,0.0,-6.985281e-18,0.0,0.0
1,chr8_4737_plus,0.474553,3857,0.0,0.0,2.264757e-17,0.0,0.0
2,chr1_41133_plus,0.462902,3424,0.0,0.0,-1.162399e-17,0.0,0.0
3,chr2_2316_minus,0.435767,2840,0.0,0.0,4.674623e-18,0.0,0.0
4,chr14_15057_minus,0.424549,7008,0.0,0.0,0.000000e+00,0.0,0.0

Visium_FFPE_Human_Normal_Prostate

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr1_24159_minus,0.081522,1431,0.004,0.000,-4.929760e-18,0.000,0.080
1,chr16_11327_minus,0.069218,2166,0.004,0.001,3.932893e-18,0.020,0.080
2,chr12_11221_minus,0.065113,3332,0.002,0.000,1.476781e-17,0.000,0.080
3,chr14_15057_minus,0.046032,7008,0.001,0.000,0.000000e+00,0.000,0.080
4,chr15_6959_plus,0.071782,1412,0.006,0.002,0.000000e+00,0.032,0.096

Visium_FFPE_Human_Normal_Prostate

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr17_1471_minus,0.065885,1529,0.0,0.005,0.030049,0.092500,0.0
1,chrX_30761_plus,0.065525,1689,0.0,0.001,0.001406,0.037000,0.0
2,chr14_21174_plus,0.056612,1762,0.0,0.019,0.036525,0.222000,0.0
3,chr5_28235_minus,0.049747,1373,0.0,0.014,-0.002919,0.182824,0.0
4,chr6_5579_plus,0.045525,1765,0.0,0.013,0.019820,0.180375,0.0

Visium_FFPE_Human_Prostate_Acinar_Cell_Carcinoma

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr15_8008_plus,0.129972,8853,0.0,0.0,-9.340029e-18,0.0,0.0
1,chr22_4585_minus,0.099218,8829,0.0,0.0,9.352323e-18,0.0,0.0
2,chr15_8759_minus,0.085981,8853,0.0,0.0,-4.670015e-18,0.0,0.0
3,chr14_15057_minus,0.081271,8825,0.0,0.0,-2.338850e-18,0.0,0.0
4,chrX_2596_minus,0.061741,8853,0.0,0.0,-5.837518e-18,0.0,0.0

Visium_FFPE_Human_Prostate_Acinar_Cell_Carcinoma

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr22_4585_minus,0.674367,8829,0.0,0.0,4.676161e-18,0.0,0.0
1,chr22_4582_minus,0.673070,8835,0.0,0.0,-9.349247e-18,0.0,0.0
2,chr11_931_minus,0.652612,5020,0.0,0.0,-1.342028e-17,0.0,0.0
3,chr22_4581_minus,0.643801,8836,0.0,0.0,-9.349247e-18,0.0,0.0
4,chr22_4580_minus,0.631022,8831,0.0,0.0,9.352323e-18,0.0,0.0

Visium_FFPE_Human_Prostate_Acinar_Cell_Carcinoma

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr15_8008_plus,0.108306,8853,0.0,0.0,1.050753e-17,0.0,0.0
1,chr14_15057_minus,0.078162,8825,0.0,0.0,7.016551e-18,0.0,0.0
2,chr15_8759_minus,0.066936,8853,0.0,0.0,-2.335007e-18,0.0,0.0
3,chrX_2596_minus,0.060151,8853,0.0,0.0,-1.167504e-18,0.0,0.0
4,chr22_4585_minus,0.053401,8829,0.0,0.0,-4.676161e-18,0.0,0.0

Visium_FFPE_Human_Prostate_Acinar_Cell_Carcinoma

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,BCAR4,-0.335958,15,0.0,0.903,-0.004435,0.903,0.0

Visium_FFPE_Human_Prostate_Cancer

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr22_4585_minus,0.079100,3853,0.0,0.0,0.041520,0.0,0.0
1,chr17_1517_minus,0.066802,2718,0.0,0.0,-0.002025,0.0,0.0
2,chr6_6373_plus,0.062441,10139,0.0,0.0,-0.115367,0.0,0.0
3,chr9_27370_minus,0.052280,10548,0.0,0.0,-0.062740,0.0,0.0
4,chr1_29978_plus,0.030078,5906,0.0,0.0,0.012287,0.0,0.0

Visium_FFPE_Human_Prostate_Cancer

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr14_15057_minus,0.194865,12423,0.0,0.0,0.000000e+00,0.0,0.0
1,chr6_5232_minus,0.100092,11990,0.0,0.0,-2.676244e-17,0.0,0.0
2,chr6_6373_plus,0.066223,10139,0.0,0.0,0.000000e+00,0.0,0.0
3,chr7_18033_minus,0.061375,9712,0.0,0.0,5.734808e-18,0.0,0.0
4,chr15_8759_minus,0.057794,12657,0.0,0.0,-8.131640e-18,0.0,0.0

Visium_FFPE_Human_Prostate_Cancer

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr2_14782_minus,0.812089,12532,0.0,0.0,-3.269118e-18,0.0,0.0
1,chr15_8759_minus,0.676453,12657,0.0,0.0,-1.463695e-17,0.0,0.0
2,chr8_4737_plus,0.653458,12257,0.0,0.0,0.000000e+00,0.0,0.0
3,chr8_28905_plus,0.638364,1000,0.0,0.0,1.042871e-17,0.0,0.0
4,chr8_28537_minus,0.596121,2360,0.0,0.0,8.739763e-18,0.0,0.0

Visium_FFPE_Human_Prostate_Cancer

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr14_15057_minus,0.129178,12423,0.0,0.0,4.107183e-18,0.0,0.0
1,chr6_5232_minus,0.089534,11990,0.0,0.0,5.017957e-18,0.0,0.0
2,chr6_6373_plus,0.057720,10139,0.0,0.0,3.721093e-18,0.0,0.0
3,chr7_18033_minus,0.053032,9712,0.0,0.0,-3.823205e-18,0.0,0.0
4,chr15_8759_minus,0.047804,12657,0.0,0.0,-3.252656e-18,0.0,0.0

Visium_FFPE_Human_Prostate_Cancer

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr12_10416_minus,0.089986,3479,0.0,0.000,0.028347,0.000000,0.0
1,chr6_5232_minus,0.067364,8506,0.0,0.000,-0.093567,0.000000,0.0
2,chr17_1517_minus,0.062101,2203,0.0,0.000,0.000712,0.000000,0.0
3,chr17_15348_minus,0.058973,2235,0.0,0.001,0.048056,0.014636,0.0
4,chrX_30888_minus,0.049571,8415,0.0,0.000,0.098256,0.000000,0.0

Visium_FFPE_Human_Prostate_IF

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr6_5232_minus,0.152543,8506,0.0,0.0,-5.530376e-18,0.0,0.0
1,chr7_18033_minus,0.116713,5650,0.0,0.0,-1.121614e-17,0.0,0.0
2,chr12_10416_minus,0.108194,3479,0.0,0.0,4.478963e-18,0.0,0.0
3,chrX_30888_minus,0.095430,8415,0.0,0.0,-1.334770e-17,0.0,0.0
4,chr12_11221_minus,0.093073,8098,0.0,0.0,-4.255087e-18,0.0,0.0

Visium_FFPE_Human_Prostate_IF

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr2_14782_minus,0.674424,9838,0.0,0.0,1.848233e-17,0.0,0.0
1,chr8_28537_minus,0.591672,5688,0.0,0.0,-1.713527e-17,0.0,0.0
2,chr8_4737_plus,0.561715,8102,0.0,0.0,-1.028116e-17,0.0,0.0
3,chr3_9046_plus,0.495903,2982,0.0,0.0,3.934345e-17,0.0,0.0
4,chr1_41133_plus,0.485011,8026,0.0,0.0,9.248848e-18,0.0,0.0

Visium_FFPE_Human_Prostate_IF

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr6_5232_minus,0.138054,8506,0.0,0.0,0.000000e+00,0.0,0.0
1,chr12_10416_minus,0.092761,3479,0.0,0.0,-6.270549e-18,0.0,0.0
2,chr12_11221_minus,0.092532,8098,0.0,0.0,2.836724e-19,0.0,0.0
3,chrX_30888_minus,0.092125,8415,0.0,0.0,4.449234e-18,0.0,0.0
4,chr14_15057_minus,0.066022,6947,0.0,0.0,-1.234438e-17,0.0,0.0

Visium_FFPE_Human_Prostate_IF

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr18_7564_minus,0.168380,5953,0.000,0.000,-0.075166,0.000000,0.000000
1,chr13_4707_minus,0.110398,834,0.000,0.000,-0.041808,0.000000,0.000000
2,chr11_13937_plus,0.048706,2508,0.000,0.001,-0.010870,0.016857,0.000000
3,chr7_8894_minus,0.042867,2019,0.003,0.013,0.003147,0.183556,0.088500
4,chr4_23158_minus,0.029202,3829,0.007,0.020,0.016606,0.236000,0.137667

Visium_FFPE_Mouse_Brain

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr18_7564_minus,0.200607,5953,0.000,0.000,3.311010e-18,0.0000,0.000000
1,chr19_1055_plus,0.040876,6312,0.001,0.000,-1.043971e-17,0.0000,0.050500
2,chr11_15136_minus,0.050877,5141,0.002,0.000,5.342427e-18,0.0000,0.067333
3,chr8_16800_minus,0.043955,5706,0.005,0.000,-6.347154e-18,0.0000,0.121200
4,chr2_16935_plus,0.043503,5428,0.006,0.001,-3.476236e-18,0.0202,0.121200

Visium_FFPE_Mouse_Brain

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr4_24638_minus,0.663494,6273,0.0,0.0,-3.222416e-18,0.0,0.0
1,chr16_3725_plus,0.632420,6582,0.0,0.0,-9.419479e-18,0.0,0.0
2,chr9_13876_minus,0.621066,4685,0.0,0.0,2.628858e-17,0.0,0.0
3,chr8_18956_minus,0.579314,6570,0.0,0.0,3.142604e-18,0.0,0.0
4,chr4_2393_plus,0.572174,5773,0.0,0.0,1.849496e-17,0.0,0.0

Visium_FFPE_Mouse_Brain

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr18_7564_minus,0.156546,5953,0.000,0.000,-6.622020e-18,0.000000,0.00000
1,chr11_15136_minus,0.064585,5141,0.000,0.000,8.013640e-18,0.000000,0.00000
2,chr8_16800_minus,0.045488,5706,0.003,0.000,-5.077723e-18,0.000000,0.10100
3,chr2_30538_minus,0.047508,4633,0.007,0.001,1.037151e-17,0.014429,0.17675
4,chr19_1055_plus,0.041524,6312,0.009,0.000,-4.015273e-18,0.000000,0.18180

Visium_FFPE_Mouse_Brain

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,"Commd1,Zrsr1",0.933817,39,0.0,0.812,-0.979191,0.812,0.0
1,Cracd,0.006677,17,0.0,0.377,0.014849,0.754,0.0

Visium_FFPE_Mouse_Brain_IF

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr18_7564_minus,0.161539,6499,0.000,0.000,-0.085206,0.000000,0.000000
1,chr9_21510_minus,0.065456,844,0.000,0.026,-0.009099,0.472333,0.000000
2,chr13_4707_minus,0.075793,854,0.001,0.018,-0.002362,0.472333,0.036333
3,chr13_4351_plus,0.025782,6380,0.002,0.000,0.006760,0.000000,0.054500
4,chr13_11633_minus,0.030733,2492,0.012,0.048,-0.008717,0.654000,0.261600

Visium_FFPE_Mouse_Brain_IF

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr18_7564_minus,0.189481,6499,0.000,0.000,3.065327e-18,0.000,0.000
1,chr13_4351_plus,0.062338,6380,0.000,0.000,1.855203e-17,0.000,0.000
2,chr4_26794_plus,0.040879,1347,0.145,0.067,-1.553665e-17,0.432,0.992
3,chr2_14664_minus,0.034430,2313,0.105,0.053,1.315820e-18,0.432,0.992
4,chr14_14016_minus,0.034142,2266,0.097,0.065,1.135960e-17,0.432,0.992

Visium_FFPE_Mouse_Brain_IF

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr16_3725_plus,0.592527,7096,0.0,0.0,0.000000e+00,0.0,0.0
1,chr4_2393_plus,0.526549,6201,0.0,0.0,-1.255931e-17,0.0,0.0
2,chr8_18956_minus,0.465821,7092,0.0,0.0,-1.093816e-17,0.0,0.0
3,chr2_34866_minus,0.464172,3490,0.0,0.0,-1.440289e-17,0.0,0.0
4,chr2_5011_minus,0.444853,6819,0.0,0.0,-4.463208e-18,0.0,0.0

Visium_FFPE_Mouse_Brain_IF

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr18_7564_minus,0.144011,6499,0.000,0.000,9.195980e-18,0.000000,0.000
1,chr13_4351_plus,0.063577,6380,0.000,0.000,-4.638007e-18,0.000000,0.000
2,chr4_26794_plus,0.041599,1347,0.130,0.053,-9.494619e-18,0.355765,0.996
3,chr2_14664_minus,0.033508,2313,0.107,0.053,3.947460e-18,0.355765,0.996
4,chr14_14016_minus,0.033433,2266,0.099,0.051,1.135960e-17,0.355765,0.996

Visium_FFPE_Mouse_Brain_IF

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Kap,0.432812,24,0.000,0.048,-0.008742,0.60375,0.000000
1,Ppm1h,0.012654,46,0.002,0.225,-0.049204,0.60375,0.014000
2,"Commd1,Zrsr1",0.022101,339,0.155,0.297,0.004723,0.60375,0.723333
3,Pttg1ip,0.002145,92,0.546,0.340,0.028597,0.60375,0.803091
4,Trim28,0.000859,8533,0.324,0.269,0.004502,0.60375,0.803091

Visium_FFPE_Mouse_Kidney

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr3_20783_minus,0.113522,1145,0.0,0.0,0.013076,0.0,0.0
1,chr9_8822_minus,0.101153,1111,0.0,0.0,0.060976,0.0,0.0
2,chr9_21510_minus,0.080926,2936,0.0,0.0,0.009875,0.0,0.0
3,chr13_4351_plus,0.074045,8294,0.0,0.0,0.009795,0.0,0.0
4,chr15_20259_minus,0.067564,5258,0.0,0.0,-0.015811,0.0,0.0

Visium_FFPE_Mouse_Kidney

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Kap,0.264279,24,0.134,0.068,1.138690e-17,0.242667,0.490667
1,Cox8a,0.015299,9003,0.142,0.091,1.365116e-17,0.242667,0.490667
2,Trim28,0.014528,8533,0.184,0.066,1.404697e-17,0.242667,0.490667
3,Pttg1ip,0.057569,92,0.588,0.259,1.724618e-17,0.444800,0.784000
4,Cd81,0.006098,9005,0.454,0.278,1.592635e-17,0.444800,0.784000

Visium_FFPE_Mouse_Kidney

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Gpx3,0.866956,9009,0.000,0.000,3.639143e-17,0.000000,0.000000
1,Slc12a1,0.735396,8606,0.000,0.000,3.737240e-17,0.000000,0.000000
2,Kap,0.438841,24,0.028,0.007,1.897817e-17,0.009333,0.074667
3,Cd81,0.511451,9005,1.000,0.000,1.820154e-17,0.000000,1.000000
4,Cox8a,0.450837,9003,1.000,0.000,0.000000e+00,0.000000,1.000000

Visium_FFPE_Mouse_Kidney

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,Kap,0.264925,24,0.121,0.075,1.897817e-17,0.213333,0.445333
1,Trim28,0.016061,8533,0.135,0.057,-7.023487e-18,0.213333,0.445333
2,Cox8a,0.013957,9003,0.167,0.080,-2.275193e-18,0.213333,0.445333
3,Pttg1ip,0.061672,92,0.564,0.238,-1.149746e-17,0.476000,0.752000
4,Cd81,0.005022,9005,0.444,0.298,-9.100772e-18,0.476800,0.752000

Visium_FFPE_Mouse_Kidney

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr13_4351_plus,0.170835,8294,0.0,0.0,1.307456e-17,0.0,0.0
1,chr5_23131_plus,0.146936,6652,0.0,0.0,-1.708693e-17,0.0,0.0
2,chr5_6631_minus,0.126727,6857,0.0,0.0,-1.345725e-18,0.0,0.0
3,chr17_11400_minus,0.094347,8839,0.0,0.0,9.192015e-18,0.0,0.0
4,chr19_1398_plus,0.082738,8735,0.0,0.0,1.156106e-17,0.0,0.0

Visium_FFPE_Mouse_Kidney

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr7_9092_plus,0.800209,9009,0.0,0.0,3.411697e-18,0.0,0.0
1,chr3_18123_minus,0.675437,7985,0.0,0.0,-9.706868e-18,0.0,0.0
2,chrX_26780_plus,0.659103,1614,0.0,0.0,-1.686949e-17,0.0,0.0
3,chr3_11824_plus,0.651922,1680,0.0,0.0,-9.868649e-18,0.0,0.0
4,chr18_7772_plus,0.651448,8764,0.0,0.0,9.248848e-18,0.0,0.0

Visium_FFPE_Mouse_Kidney

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr13_4351_plus,0.148347,8294,0.0,0.0,2.377192e-18,0.0,0.0
1,chr17_11400_minus,0.089471,8839,0.0,0.0,-8.043013e-18,0.0,0.0
2,chr9_21510_minus,0.079955,2936,0.0,0.0,-8.171854e-18,0.0,0.0
3,chr11_19216_plus,0.075590,2620,0.0,0.0,8.718316e-18,0.0,0.0
4,chr19_1398_plus,0.074066,8735,0.0,0.0,0.000000e+00,0.0,0.0

Visium_FFPE_Mouse_Kidney

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,unknown_chr1_79900000,0.965736,2,0.000,0.158,0.001594,0.698750,0.0000
1,PTOV1,NaN,0,0.000,0.000,0.012968,0.000000,0.0000
2,HLA-G,NaN,0,0.000,0.000,0.002046,0.000000,0.0000
3,TRAPPC2L,NaN,0,0.000,0.000,0.038129,0.000000,0.0000
4,PET100,1.654408,27,0.001,0.001,0.142535,0.015636,0.0344

p20190_s003_3_BrainMetastasis

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr16_393_minus,0.191578,297,0.000,0.000,-0.095633,0.000000,0.0000
1,chr22_4581_plus,0.172197,991,0.000,0.000,-0.356397,0.000000,0.0000
2,chr2_16982_plus,0.165474,547,0.000,0.001,0.112120,0.008000,0.0000
3,chr11_1046_minus,0.073565,1501,0.000,0.199,-0.230768,0.415304,0.0000
4,chr19_3573_plus,0.148603,228,0.002,0.004,0.079602,0.024000,0.0192

p20190_s003_3_BrainMetastasis

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,RPL39,0.090170,155,0.086,0.106,-4.866731e-17,0.3975,0.498
1,RPL41,0.084608,191,0.146,0.094,0.000000e+00,0.3975,0.498
2,HBA2,0.071936,770,0.148,0.020,-7.435284e-18,0.3000,0.498
3,MYL6,0.042697,277,0.099,0.226,0.000000e+00,0.4650,0.498
4,RPL28,0.033662,750,0.166,0.165,9.827700e-18,0.4650,0.498

p20190_s003_3_BrainMetastasis

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,HBB,0.618887,1205,0.000,0.0,0.000000e+00,0.0,0.00000
1,S100A6,0.539747,96,0.024,0.0,-1.850372e-17,0.0,0.18000
2,GSTP1,0.486619,165,0.067,0.0,0.000000e+00,0.0,0.31125
3,HBA2,0.396481,770,0.083,0.0,0.000000e+00,0.0,0.31125
4,FTL,0.388623,233,0.161,0.0,-1.009294e-17,0.0,0.48300

p20190_s003_3_BrainMetastasis

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,RPL39,0.087707,155,0.094,0.136,2.433366e-17,0.450,0.552
1,RPL41,0.084434,191,0.161,0.113,0.000000e+00,0.450,0.552
2,HBA2,0.071151,770,0.127,0.017,-6.759349e-19,0.255,0.552
3,MYL6,0.039191,277,0.109,0.210,0.000000e+00,0.450,0.552
4,RPL28,0.024839,750,0.184,0.204,9.827700e-18,0.450,0.552

p20190_s003_3_BrainMetastasis

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chrM_1_plus,0.164993,3675,0.000,0.000,1.243450e-17,0.000000,0.000000
1,chr11_1046_minus,0.128606,1501,0.000,0.000,-6.287989e-18,0.000000,0.000000
2,chrM_4_plus,0.073731,2596,0.134,0.000,-1.771927e-17,0.000000,0.451750
3,chrM_2_plus,0.068087,3853,0.139,0.000,-7.791039e-18,0.000000,0.451750
4,chr1_127_plus,0.060843,1805,0.415,0.007,5.698017e-18,0.015167,0.938167

p20190_s003_3_BrainMetastasis

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr11_1046_minus,0.599988,1501,0.0,0.0,-2.200796e-17,0.0,0.0
1,chr3_19324_minus,0.520899,1555,0.0,0.0,7.703195e-19,0.0,0.0
2,chr14_21125_minus,0.501913,2985,0.0,0.0,6.042030e-18,0.0,0.0
3,chr14_21154_minus,0.471537,3261,0.0,0.0,9.545174e-19,0.0,0.0
4,chr2_17772_minus,0.470237,3543,0.0,0.0,-6.340896e-18,0.0,0.0

p20190_s003_3_BrainMetastasis

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chrM_1_plus,0.068714,3675,0.031,0.000,-2.220446e-18,0.0000,0.214500
1,chrM_2_plus,0.066046,3853,0.033,0.000,-5.194026e-18,0.0000,0.214500
2,chrM_4_plus,0.067543,2596,0.055,0.000,3.599227e-18,0.0000,0.238333
3,chr14_21125_minus,0.055495,2985,0.165,0.004,1.007005e-17,0.0130,0.530400
4,chr11_1046_minus,0.052845,1501,0.204,0.015,0.000000e+00,0.0325,0.530400

p20190_s003_3_BrainMetastasis

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,SSBP4,0.941414,5,0.0,0.032,-0.031334,0.28800,0.0
1,HSPA1B,0.655958,6,0.0,0.031,0.008360,0.28800,0.0
2,MZT2B,0.281292,91,0.0,0.065,0.014336,0.48121,0.0
3,EEF1D,NaN,0,0.0,0.000,0.019097,0.00000,0.0
4,SHARPIN,NaN,0,0.0,0.000,-0.006116,0.00000,0.0

p20190_s004_4_BrainMetastasis

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chrX_30881_plus,0.155950,415,0.0,0.000,0.069414,0.000000,0.0
1,chr1_8956_plus,0.155167,447,0.0,0.000,-0.073511,0.000000,0.0
2,chr19_3573_plus,0.151506,368,0.0,0.000,0.013710,0.000000,0.0
3,chr9_3876_minus,0.133631,366,0.0,0.000,-0.038430,0.000000,0.0
4,chrM_1_minus,0.114545,487,0.0,0.001,-0.106434,0.009167,0.0

p20190_s004_4_BrainMetastasis

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,LOC105374985,1.062321,46,0.0,0.009,0.062613,0.249573,0.0
1,PLXNB2,1.015913,32,0.0,0.030,0.039534,0.443353,0.0
2,MFSD3,0.595747,30,0.0,0.028,-0.066032,0.423951,0.0
3,KIF9,0.552989,64,0.0,0.002,-0.134035,0.112182,0.0
4,TSC22D4,0.404861,38,0.0,0.013,0.045584,0.311495,0.0

p20218_s001_L1

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr3_9872_minus,0.190186,1175,0.0,0.000,0.208760,0.000000,0.0
1,chr10_3448_plus,0.104323,1204,0.0,0.000,0.087713,0.000000,0.0
2,chr3_997_plus,0.102852,652,0.0,0.002,0.074877,0.029544,0.0
3,chr11_13115_plus,0.100295,522,0.0,0.006,-0.036075,0.070167,0.0
4,chr1_13483_minus,0.081820,1010,0.0,0.002,-0.010765,0.029544,0.0

p20218_s001_L1

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,RPLP0,0.079748,6113,0.000,0.0,0.000000e+00,0.0,0.0000
1,MYL6,0.079410,6085,0.000,0.0,1.187867e-17,0.0,0.0000
2,RPS19,0.056248,7676,0.000,0.0,-1.381035e-17,0.0,0.0000
3,COX5B,0.067344,3474,0.001,0.0,5.533822e-18,0.0,0.1956
4,RPS5,0.051693,4958,0.001,0.0,0.000000e+00,0.0,0.1956

p20218_s001_L1

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,MTRNR2L8,1.088881,16,0.0,0.0,3.249433e-17,0.0,0.0
1,FTH1,0.885319,42,0.0,0.0,-3.383537e-17,0.0,0.0
2,MUCL1,0.628642,8268,0.0,0.0,0.000000e+00,0.0,0.0
3,S100A7,0.582279,8253,0.0,0.0,0.000000e+00,0.0,0.0
4,RPL41,0.561067,7951,0.0,0.0,2.706185e-17,0.0,0.0

p20218_s001_L1

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,MYL6,0.069257,6085,0.000,0.000,1.187867e-17,0.000000,0.00000
1,COX5B,0.066816,3474,0.000,0.000,-2.766911e-18,0.000000,0.00000
2,RPLP0,0.064215,6113,0.000,0.000,0.000000e+00,0.000000,0.00000
3,MYL12A,0.115799,584,0.001,0.004,-1.506984e-17,0.177818,0.24450
4,U2SURP,0.684503,12,0.003,0.007,2.612289e-17,0.236069,0.36675

p20218_s001_L1

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chrM_1_plus,0.539050,8400,0.0,0.0,1.220025e-17,0.0,0.0
1,chrM_3_plus,0.268880,8351,0.0,0.0,-2.451838e-18,0.0,0.0
2,chrM_2_plus,0.251957,8419,0.0,0.0,3.246711e-18,0.0,0.0
3,chr12_10972_plus,0.172253,8199,0.0,0.0,-4.973468e-18,0.0,0.0
4,chr6_14704_minus,0.148420,7495,0.0,0.0,7.003871e-18,0.0,0.0

p20218_s001_L1

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chrM_1_plus,0.710645,8400,0.0,0.0,1.220025e-17,0.0,0.0
1,chr11_2102_minus,0.701474,7905,0.0,0.0,-1.787422e-17,0.0,0.0
2,chr3_19324_minus,0.666336,7775,0.0,0.0,-1.204893e-17,0.0,0.0
3,chrM_2_plus,0.664282,8419,0.0,0.0,3.246711e-18,0.0,0.0
4,chrM_3_plus,0.641577,8351,0.0,0.0,-5.720956e-18,0.0,0.0

p20218_s001_L1

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chrM_2_plus,0.247163,8419,0.0,0.0,3.246711e-18,0.0,0.0
1,chrM_3_plus,0.208898,8351,0.0,0.0,-1.634559e-18,0.0,0.0
2,chrM_1_plus,0.182907,8400,0.0,0.0,1.586033e-17,0.0,0.0
3,chr6_14704_minus,0.138347,7495,0.0,0.0,3.501936e-18,0.0,0.0
4,chr7_28202_minus,0.118662,766,0.0,0.0,6.983827e-18,0.0,0.0

p20218_s001_L1

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,TOP1MT,5.090540,14,0.0,0.001,0.020378,0.034928,0.0
1,TMED10,3.271848,13,0.0,0.000,0.011467,0.000000,0.0
2,RNF10,2.273158,5,0.0,0.002,0.053543,0.051828,0.0
3,CBX3,1.209474,27,0.0,0.000,-0.003313,0.000000,0.0
4,unknown_chr17_81800000,0.939079,9,0.0,0.014,0.053616,0.204485,0.0

p20218_s002_L2

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr22_4580_plus,0.194532,414,0.0,0.0,-0.009609,0.0,0.0
1,chr1_127_plus,0.148491,3258,0.0,0.0,0.183278,0.0,0.0
2,chrM_1_minus,0.147724,789,0.0,0.0,-0.033818,0.0,0.0
3,chrM_1_plus,0.143008,3921,0.0,0.0,-0.036186,0.0,0.0
4,chr11_12394_minus,0.126301,2507,0.0,0.0,0.220271,0.0,0.0

p20218_s002_L2

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,S100A6,0.145771,3437,0.0,0.0,-4.352482e-17,0.0,0.0
1,RPS27,0.113958,2967,0.0,0.0,1.621318e-17,0.0,0.0
2,RPLP0,0.109374,1804,0.0,0.0,0.000000e+00,0.0,0.0
3,S100A9,0.105852,3019,0.0,0.0,1.601223e-17,0.0,0.0
4,ATP5ME,0.104790,1539,0.0,0.0,-5.572884e-17,0.0,0.0

p20218_s002_L2

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,AZGP1,0.406866,1956,0.0,0.0,-1.247661e-17,0.0,0.0
1,RPL27A,0.400729,1973,0.0,0.0,-8.616120e-18,0.0,0.0
2,RPS12,0.397389,2177,0.0,0.0,-4.220001e-17,0.0,0.0
3,CRIP1,0.376282,1366,0.0,0.0,7.748558e-18,0.0,0.0
4,MT1X,0.373804,2467,0.0,0.0,3.838178e-17,0.0,0.0

p20218_s002_L2

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,RPS27,0.112354,2967,0.000,0.0,0.000000e+00,0.0,0.0000
1,RPLP0,0.103718,1804,0.000,0.0,0.000000e+00,0.0,0.0000
2,RPL26,0.085844,1820,0.000,0.0,-4.862568e-17,0.0,0.0000
3,S100A9,0.104513,3019,0.002,0.0,1.601223e-17,0.0,0.0496
4,RPL31,0.089255,1553,0.002,0.0,0.000000e+00,0.0,0.0496

p20218_s002_L2

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chrM_1_plus,0.574267,3921,0.0,0.0,-1.674229e-18,0.0,0.0
1,chr1_127_plus,0.278018,3258,0.0,0.0,-3.087638e-17,0.0,0.0
2,chr1_30707_minus,0.248551,2565,0.0,0.0,1.378802e-17,0.0,0.0
3,chr1_30673_plus,0.222252,2810,0.0,0.0,1.926170e-17,0.0,0.0
4,chr11_13025_minus,0.177643,2068,0.0,0.0,-1.724618e-17,0.0,0.0

p20218_s002_L2

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chrM_1_plus,0.876925,3921,0.0,0.0,-3.348458e-18,0.0,0.0
1,chr3_19324_minus,0.753281,3063,0.0,0.0,0.000000e+00,0.0,0.0
2,chr13_21885_minus,0.702918,1531,0.0,0.0,1.187206e-17,0.0,0.0
3,chr11_12394_minus,0.533134,2507,0.0,0.0,4.628943e-18,0.0,0.0
4,chr11_1737_plus,0.478300,1860,0.0,0.0,1.195194e-17,0.0,0.0

p20218_s002_L2

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr1_127_plus,0.277977,3258,0.0,0.0,3.859548e-18,0.0,0.0
1,chr1_30707_minus,0.248552,2565,0.0,0.0,9.192015e-18,0.0,0.0
2,chr1_30673_plus,0.190977,2810,0.0,0.0,-2.140189e-18,0.0,0.0
3,chr11_13025_minus,0.170843,2068,0.0,0.0,2.155773e-18,0.0,0.0
4,chr16_393_minus,0.153066,2540,0.0,0.0,5.797509e-19,0.0,0.0

p20218_s002_L2

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,IRF3,5.333200,1,0.0,0.002,-0.070070,0.091379,0.0
1,IGLL5,1.078443,221,0.0,0.000,0.131469,0.000000,0.0
2,SPPL2A,0.453774,8,0.0,0.039,0.195307,0.487500,0.0
3,NUCB2,0.191477,176,0.0,0.010,-0.051317,0.220833,0.0
4,SAA1,0.081807,1843,0.0,0.000,-0.026707,0.000000,0.0

p20218_s003_L3

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr22_4580_plus,0.373568,253,0.0,0.000,-0.236146,0.000,0.0
1,chr22_4581_plus,0.158511,911,0.0,0.000,0.256646,0.000,0.0
2,chr9_25048_minus,0.105341,573,0.0,0.011,0.089327,0.187,0.0
3,chr15_13300_minus,0.103930,475,0.0,0.000,-0.060987,0.000,0.0
4,chr11_12393_minus,0.094567,1944,0.0,0.000,-0.209864,0.000,0.0

p20218_s003_L3

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,SAA1,0.099831,1843,0.006,0.000,-2.515196e-17,0.000,0.120000
1,GAPDH,0.078167,1500,0.024,0.001,2.927056e-17,0.005,0.240000
2,CD74,0.082222,952,0.044,0.001,0.000000e+00,0.005,0.293333
3,HLA-B,0.079304,1400,0.076,0.000,1.553099e-17,0.000,0.304000
4,HLA-A,0.066566,1785,0.070,0.002,1.301360e-17,0.008,0.304000

p20218_s003_L3

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,MT2A,0.671361,1386,0.000,0.0,0.000000e+00,0.0,0.000
1,CRYAB,0.419377,1550,0.000,0.0,-1.408410e-17,0.0,0.000
2,CLU,0.387067,660,0.000,0.0,1.291896e-17,0.0,0.000
3,FTL,0.365538,1870,0.000,0.0,6.361170e-18,0.0,0.000
4,GPX3,0.485994,149,0.002,0.0,1.531342e-17,0.0,0.008

p20218_s003_L3

,gene,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,SAA1,0.086405,1843,0.026,0.000,0.000000e+00,0.000000,0.260
1,GAPDH,0.080556,1500,0.025,0.000,0.000000e+00,0.000000,0.260
2,CD74,0.081850,952,0.042,0.007,0.000000e+00,0.023333,0.270
3,HLA-B,0.081161,1400,0.054,0.000,1.553099e-17,0.000000,0.270
4,HLA-A,0.066391,1785,0.079,0.002,0.000000e+00,0.010000,0.316

p20218_s003_L3

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chrM_1_plus,0.455473,2333,0.000,0.0,1.239240e-17,0.0,0.0000
1,chr11_12393_minus,0.206143,1944,0.000,0.0,0.000000e+00,0.0,0.0000
2,chr11_22382_minus,0.150117,1750,0.018,0.0,1.301360e-17,0.0,0.1080
3,chr6_5990_plus,0.141915,1910,0.024,0.0,-7.791039e-18,0.0,0.1080
4,chr11_3654_plus,0.118011,1899,0.233,0.0,-3.092005e-18,0.0,0.8388

p20218_s003_L3

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chrM_1_plus,0.719747,2333,0.000,0.0,5.432284e-18,0.0,0.0000
1,chr3_19324_minus,0.616101,2143,0.000,0.0,1.155354e-17,0.0,0.0000
2,chr11_12393_minus,0.568401,1944,0.000,0.0,6.167906e-18,0.0,0.0000
3,chr19_9794_plus,0.459565,2043,0.000,0.0,-1.938929e-17,0.0,0.0000
4,chr5_30206_plus,0.422247,1904,0.004,0.0,-1.554118e-18,0.0,0.0144

p20218_s003_L3

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr11_12393_minus,0.168114,1944,0.000,0.0,4.625929e-18,0.0,0.0000
1,chr11_22382_minus,0.125759,1750,0.004,0.0,-6.506802e-18,0.0,0.0360
2,chr6_5990_plus,0.122606,1910,0.008,0.0,1.090745e-17,0.0,0.0405
3,chrM_1_plus,0.116925,2333,0.009,0.0,1.493878e-17,0.0,0.0405
4,chr11_3654_plus,0.091260,1899,0.144,0.0,3.092005e-18,0.0,0.4320

p20218_s003_L3

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr6_7094_plus,0.641080,98,0.0,0.0,-0.201369,0.0,0.0
1,chrX_14455_minus,0.460213,522,0.0,0.0,-0.358346,0.0,0.0
2,chr7_5239_minus,0.442545,147,0.0,0.0,-0.138441,0.0,0.0
3,chr1_4740_plus,0.435171,238,0.0,0.0,0.276583,0.0,0.0
4,chr11_65_minus,0.424487,218,0.0,0.0,0.200687,0.0,0.0

p20218_s004_L4

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chrM_1_plus,0.306645,2930,0.000,0.000,2.756606e-18,0.000,0.0
1,chr2_17772_minus,0.103276,1689,0.920,0.000,-1.171739e-17,0.000,1.0
2,chrM_3_plus,0.018698,1548,1.000,0.239,1.660147e-17,0.375,1.0
3,chr3_19324_minus,0.014362,1335,0.991,0.300,3.514059e-18,0.375,1.0
4,chrM_2_plus,0.002534,2753,1.000,0.417,-1.364679e-17,0.417,1.0

p20218_s004_L4

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chr2_17772_minus,0.817804,1689,0.0,0.0,-1.718551e-17,0.0,0.0
1,chrM_1_plus,0.665406,2930,0.0,0.0,-2.205285e-18,0.0,0.0
2,chr3_19324_minus,0.634224,1335,0.0,0.0,3.514059e-18,0.0,0.0
3,chrM_3_plus,0.424374,1548,1.0,0.0,1.992176e-17,0.0,1.0
4,chrM_2_plus,0.351933,2753,1.0,0.0,-1.137232e-17,0.0,1.0

p20218_s004_L4

,window,score_cont,num_pairs,perm_pval_emp,perm_pval,mean_score,perm_pvals_adj,perm_pvals_emp_adj
0,chrM_1_plus,0.092178,2930,0.001,0.000,2.205285e-18,0.0000,0.005
1,chr2_17772_minus,0.086038,1689,0.058,0.000,1.484203e-17,0.0000,0.145
2,chrM_3_plus,0.018899,1548,0.996,0.215,1.660147e-18,0.3525,0.996
3,chr3_19324_minus,0.015078,1335,0.798,0.282,-1.757030e-18,0.3525,0.996
4,chrM_2_plus,0.002175,2753,0.978,0.429,-4.548929e-18,0.4290,0.996

p20218_s004_L4

In [59]:
temp = outdf[outdf["score"] == "ReadZS_norm"].merge(outdf[outdf["score"] == "ReadZS_ge_norm"][["sig","gene_dataset"]],on="gene_dataset",suffixes = ["", "_by_ge"])
temp = temp.sort_values(["gene", pval_col])
temp.to_csv("{}/readzs_table.csv".format(outpath),index=False)
temp

,dataname,score,gene,perm_pvals_emp_adj,xth_sig,sig,gene_dataset,sig_by_ge
2,V1_Mouse_Brain_Sagittal_Posterior,ReadZS_norm,Actb,0.000000,8,True,Actb_V1_Mouse_Brain_Sagittal_Posterior,False
6,V1_Mouse_Brain_Sagittal_Posterior_Section_2,ReadZS_norm,Actb,0.000000,25,True,Actb_V1_Mouse_Brain_Sagittal_Posterior_Section_2,False
10,V1_Mouse_Brain_Sagittal_Anterior,ReadZS_norm,Actb,0.000000,39,True,Actb_V1_Mouse_Brain_Sagittal_Anterior,False
17,V1_Mouse_Kidney,ReadZS_norm,Actb,0.000000,6,True,Actb_V1_Mouse_Kidney,False
14,V1_Mouse_Brain_Sagittal_Anterior_Section_2,ReadZS_norm,Actb,0.115386,82,False,Actb_V1_Mouse_Brain_Sagittal_Anterior_Section_2,False
1,V1_Mouse_Brain_Sagittal_Posterior,ReadZS_norm,Gpm6a,0.000000,1,True,Gpm6a_V1_Mouse_Brain_Sagittal_Posterior,True
5,V1_Mouse_Brain_Sagittal_Posterior_Section_2,ReadZS_norm,Gpm6a,0.000000,1,True,Gpm6a_V1_Mouse_Brain_Sagittal_Posterior_Section_2,True
9,V1_Mouse_Brain_Sagittal_Anterior,ReadZS_norm,Gpm6a,0.000000,2,True,Gpm6a_V1_Mouse_Brain_Sagittal_Anterior,True
13,V1_Mouse_Brain_Sagittal_Anterior_Section_2,ReadZS_norm,Gpm6a,0.000000,2,True,Gpm6a_V1_Mouse_Brain_Sagittal_Anterior_Section_2,True
16,V1_Mouse_Kidney,ReadZS_norm,Gpx3,0.000000,2,True,Gpx3_V1_Mouse_Kidney,True
3,V1_Mouse_Brain_Sagittal_Posterior,ReadZS_norm,Rps8,0.000000,6,True,Rps8_V1_Mouse_Brain_Sagittal_Posterior,False
7,V1_Mouse_Brain_Sagittal_Posterior_Section_2,ReadZS_norm,Rps8,0.000000,18,True,Rps8_V1_Mouse_Brain_Sagittal_Posterior_Section_2,False
11,V1_Mouse_Brain_Sagittal_Anterior,ReadZS_norm,Rps8,0.000000,8,True,Rps8_V1_Mouse_Brain_Sagittal_Anterior,False
15,V1_Mouse_Brain_Sagittal_Anterior_Section_2,ReadZS_norm,Rps8,0.000000,8,True,Rps8_V1_Mouse_Brain_Sagittal_Anterior_Section_2,False
18,V1_Mouse_Kidney,ReadZS_norm,Rps8,0.020091,58,True,Rps8_V1_Mouse_Kidney,False
19,p20218_s001_L1,ReadZS_norm,S100a9,0.000000,14,True,S100a9_p20218_s001_L1,True
20,p20218_s002_L2,ReadZS_norm,S100a9,0.000000,4,True,S100a9_p20218_s002_L2,False
0,V1_Mouse_Brain_Sagittal_Posterior,ReadZS_norm,Slc8a1,0.000000,2,True,Slc8a1_V1_Mouse_Brain_Sagittal_Posterior,False
4,V1_Mouse_Brain_Sagittal_Posterior_Section_2,ReadZS_norm,Slc8a1,0.000000,3,True,Slc8a1_V1_Mouse_Brain_Sagittal_Posterior_Secti...,False
12,V1_Mouse_Brain_Sagittal_Anterior_Section_2,ReadZS_norm,Slc8a1,0.000000,23,True,Slc8a1_V1_Mouse_Brain_Sagittal_Anterior_Section_2,False
8,V1_Mouse_Brain_Sagittal_Anterior,ReadZS_norm,Slc8a1,0.058437,93,False,Slc8a1_V1_Mouse_Brain_Sagittal_Anterior,False

In [60]:
temp = outdf[outdf["score"] == "SpliZ_norm"].merge(outdf[outdf["score"] == "ge_norm"][["sig","gene_dataset"]],on="gene_dataset",suffixes = ["", "_by_ge"])
temp = temp.sort_values(["gene", pval_col])
temp.to_csv("{}/spliz_table.csv".format(outpath),index=False)
temp

,dataname,score,gene,perm_pvals_emp_adj,xth_sig,sig,gene_dataset,sig_by_ge
2,V1_Mouse_Brain_Sagittal_Posterior,SpliZ_norm,Gng13,0.0,1,True,Gng13_V1_Mouse_Brain_Sagittal_Posterior,True
5,V1_Mouse_Brain_Sagittal_Posterior_Section_2,SpliZ_norm,Gng13,0.0,2,True,Gng13_V1_Mouse_Brain_Sagittal_Posterior_Section_2,True
8,V1_Mouse_Brain_Sagittal_Anterior,SpliZ_norm,Gng13,0.0,3,True,Gng13_V1_Mouse_Brain_Sagittal_Anterior,True
11,V1_Mouse_Brain_Sagittal_Anterior_Section_2,SpliZ_norm,Gng13,0.0,2,True,Gng13_V1_Mouse_Brain_Sagittal_Anterior_Section_2,True
0,V1_Mouse_Brain_Sagittal_Posterior,SpliZ_norm,Myl6,0.0,2,True,Myl6_V1_Mouse_Brain_Sagittal_Posterior,False
3,V1_Mouse_Brain_Sagittal_Posterior_Section_2,SpliZ_norm,Myl6,0.0,3,True,Myl6_V1_Mouse_Brain_Sagittal_Posterior_Section_2,False
6,V1_Mouse_Brain_Sagittal_Anterior,SpliZ_norm,Myl6,0.0,1,True,Myl6_V1_Mouse_Brain_Sagittal_Anterior,False
9,V1_Mouse_Brain_Sagittal_Anterior_Section_2,SpliZ_norm,Myl6,0.0,1,True,Myl6_V1_Mouse_Brain_Sagittal_Anterior_Section_2,False
12,V1_Mouse_Kidney,SpliZ_norm,Myl6,0.0,2,True,Myl6_V1_Mouse_Kidney,False
1,V1_Mouse_Brain_Sagittal_Posterior,SpliZ_norm,Rps24,0.0,3,True,Rps24_V1_Mouse_Brain_Sagittal_Posterior,True
4,V1_Mouse_Brain_Sagittal_Posterior_Section_2,SpliZ_norm,Rps24,0.0,4,True,Rps24_V1_Mouse_Brain_Sagittal_Posterior_Section_2,True
7,V1_Mouse_Brain_Sagittal_Anterior,SpliZ_norm,Rps24,0.0,2,True,Rps24_V1_Mouse_Brain_Sagittal_Anterior,True
10,V1_Mouse_Brain_Sagittal_Anterior_Section_2,SpliZ_norm,Rps24,0.0,3,True,Rps24_V1_Mouse_Brain_Sagittal_Anterior_Section_2,True
13,V1_Mouse_Kidney,SpliZ_norm,Rps24,0.0,1,True,Rps24_V1_Mouse_Kidney,True